AnchorPane{
    -fx-font-family: 'Cantata One', serif;
    -fx-font-size: 14;
    -fx-background-color: #374745;
;
}
#btnLogo{
    -fx-background-image: url("/MRSLogo.png");
}

.button{
    -fx-background-radius: 15;
    -fx-background-color: transparent;
    -fx-font-size: 14;
    -fx-text-fill: white;
}